

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
   
}
body{
    background-color: black;
}

.main {
    background-image: url(assets/images/bg1.jpg);
    background-position: center center;
    background-size: max(1200px, 99vw);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;


}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.63;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 65vw;
    display: flex;
    align-items: center;
    margin: auto;    
    justify-content: space-between;

}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;
    margin-top: 30px;
}

nav button {
    position: relative;
    z-index: 10;
    font-size: 20px;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 29px;

}

.hero> :first-child{
    margin-top: 20vh;
    font-weight: 4500;
    font-size: 45px;
    text-align: center;
    text-align: center;


}
.hero> :nth-child(2){
    font-weight: 100;
    font-size: 24px;
    text-align: center;

}


.hero> :nth-child(3){
    font-weight: 100;
    font-size: 20px;
    text-align: center;

}

.separation{
    height: 7px;
    background-color: rgb(46, 44, 44);
    width: 99vw;
    margin-top: 150px;
    
}
.btn{
    padding: 3px 8px;
    font-weight: 100;
    color: white;
    background-color: rgba(248,243,243,0.02);
    border-radius: 4px;
    
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
}
.redbtn-sn{
    background-color: red;
    color: white;
    font-size: 18px;
    padding-top: 5px;
}
.redbtn {

    background-color: red;
    color: white;
    padding: 12px 26px;
    font-size: 20px;
    border-radius: 4px;
}
.main input{
    padding: 15px 101px 15px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23,23,0.7);
    font-weight: 900;
    border: 1px solid rgba(246,238,238,0.5);
    color: white;
}

.herobuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:1300px){
    .first{
        flex-wrap: wrap;
    }
}
.secimg{
    position: relative;

}
.secimg img{
    width: 555px;
    position: relative;
    z-index: 10;
    
}
.secimg video{
    position: absolute;
    top: 90px;
    right: 0;
}
.vid2{
    margin-right: 120px;
}

.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    padding: 27px 0;
}
.first > div :nth-child(2){
    font-size: 24px;

}

.separation2{
    height: 7px;
    background-color: rgb(46, 44, 44);
    width: 99vw;
    margin-top: 90px;
    
}
.faq h1{
    text-align: center;
    font-size: 48px;

}
.faq{
    background: black;
    color: white;
padding: 34px;
}
.faqbox:hover{
    background-color: #414141;
}
.faqbox svg{
    filter: invert(1);  /* to make all plus sigs white */
}
.faqbox{
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 25px;
    max-width: 70vw;
    margin: 10px auto;
    cursor: pointer;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    
}
.faqbox span{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    color: rgb(158, 156, 156);
    
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgb(158, 156, 156);
    padding: 14px;
    
}
.questions{
    padding: 34px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.footer a{
    color: rgb(158, 156, 156);
    font-size: 14px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footeritem{
    display: flex;
    flex-direction: column;
    gap: 23px;
    
   

}

@media screen and (max-width:1100px){
    .hero> :first-child{
        font-size: 30px;

    }
    .hero> :nth-child(2){
        font-size: 18px;
    }
    .hero> :nth-child(3){
        font-size: 18px;
    }
    .herobuttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .footeritem{
        display: flex;
        flex-direction: column;
        gap: 23px;
        align-items: center;
       
    
    }
}